@page
@model Gasolin.Pages.IndexModel
@{
}


<main>
<div class="text-center">
    @for (int i = 1; i < Model.members.Length; i++)
    {
        <div href="@Model.members[i].BioLink">
            <img class="img-fluid rounded" src="@Model.members[i].ImgPath">
            <h1 class="align-content-center">@Model.members[i].Name</h1>
        </div>
    }
</div>
</main>

