@page
@model Gasolin.Pages.IndexModel
@{
}


<main>
<div class="text-center">
    @for (int i = 1; i < Model.members.Length; i++)
    {
        <div>
            <h1 class="align-content-center">@Model.members[i].Name</h1>
            <img class="img-fluid rounded" src="~/pictures/kim-larsen.jpg">
            <p>KIM LARSEN</p>
        </div>
    }
</div>
</main>

