@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
 <gasolin>
    <h1 class="align-content-center">Gasolin</h1>
	<img class= <img src="~/pictures/gasolin.jpg" /img> 
    <p>KIM LARSEN <a href="KimLarsen" </a>.</p>
 </gasolin>
</div>
 