@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
 <main>
  <body>
    <h1 class="centered-text">Masser Af Succes</h1>
			<img class="pictures" img src= "~/pictures/Gasolin-The-Black-Box-album-cover.jpg" />
    </body> 
 </main>
</div>
 