@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
 <main>
  </body>
    <h1 class="align-content-center">Gasolin</h1>
	<img class= <img src="~/pictures/gasolin.jpg" /> 
    <p>KIM LARSEN <a href="KIM LARSEN" </a>.</p>
    <body> 
 </main>
</div>
 