@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Gasolin</h1>
	<img class= <img src="~/pictures/gasolin.jpg" /> 
    <p>KIM LARSEN <a href="KIM LARSEN" </a>.</p>
</div>
