@page
@model Gasolin.Pages.Index1Model
@{


}



<div class="text-center">
    <main>
        <h1 class="align-content-center">Gasolin</h1>
        <img class= <img src="~/pictures/kim-larsen.jpg" /img>
        <p>KIM LARSEN <a href="KimLarsen" </a>.</p>
    </main>
</div>
