@page
@model Gasolin.Pages.IndexModel
@{


}



<div class="text-center bg-dark">
    <main class="bg-dark text-light">
        <h1 class="align-content-center">Gasolin</h1>
        <img class="img-fluid rounded" src="@Model.members[0].ImgPath">
        <h1>KIM LARSEN<!--<a> href="KimLarsen"</a>.--></h1>
        <p>@Model.members[0].Bio</p>
    </main>
</div>
<!-- From Uiverse.io by TISEPSE -->
<button>
    <a href="#"><span></span></a>
</button>
