@page
@model Gasolin.Pages.IndexModel
@{


}



    <main class="bg-dark text-light text-center">
        <h1 class="align-content-center">Gasolin</h1>
        <img class="img-fluid rounded" src="@Model.members[0].ImgPath">
        <h1>KIM LARSEN<!--<a> href="KimLarsen"</a>.--></h1>
        <p>@Model.members[0].Bio</p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zz209RdV9kk?si=Irh-VoFpJh3ChvTC&amp;start=57" allowfullscreen=""></iframe>
    </div>
    </main>


