@page
@model Gasolin.Pages.IndexModel
@{


}


<body>
    <main class="bg-dark mt-5 text-light text-center">
        <h1 id="Betzy" class="align-content-center">Gasolin</h1>
        <img class="img-fluid rounded" src="~/pictures/gasolins-betzy.webp">
        <h1>Betzy</h1>
        <p>Betzy</p>
   
    </main>
</body>

