@page
@model Gasolin.Pages.IndexModel
@{


}


<body>
    <main class="bg-dark mt-5 text-light text-center">
        <h1 id="Betzy" class="align-content-center">Gasolin</h1>
        <img class="img-fluid rounded" src="~/pictures/gasolins-betzy.webp">
        <h1>Betzy</h1>
        <p>
            Gasolin’ endte med at købe en mørkeblå Plymouth Fury fra 1961. Den blev bygget i Detroit under byens storhedstid som motor-mekka. Den var indbegrebet af frihed, energi og rock ’n’ roll. Gasserne døbte den Betzy i bedste americana-stil.

            Og Betzy var ganske unik. Hun var nemlig blevet ombygget i Sverige, så hun var blevet ekstra lang og dermed kunne klassificeres som en limousine.

            Med en længde på seks meter og en bredde på to meter blev Betzy et særsyn på de danske landeveje og gav gasserne en masse opmærksomhed.

            Udover at fragte gruppen rundt, så blev Betzy også brugt som et lydstudie. Når Gasolin’ havde indspillede en sang, blev kvaliteten testet i Betzy. Hvis det lød godt, var alt fjong. Hvis ikke, så var det en ommer.

            Gasserne blev hurtigt så glade for Betzy, at de indspillede en kærlighedserklæring til hende-Sangen om Betzy. Den blev aldrig udgivet, da der ikke var plads på gruppens syvende og sidste album Gør det noget.

            Sangen kan kun høres på RAGNAROCK.

            Transformationen fra trækvognen, hvor gasserne måtte slide og slæbe for at få deres grej rundt, til luksuslimousinen Betzy, står fortsat som et stærkt billede på Gasolin’s massive succes og indvirkning på den danske musikscene.

            Da bandet blev opløst i 1978, valgte Franz Beckerlee at købe Betzy. Beckerlee nåede at eje Betzy i cirka 35 år før han donerede hende til RAGNAROCK, hvor hun har stået lige siden.

            I anledningen af RAGNAROCKs Gasolin’ udstillingen har Betzy fået en markant plads i museets indgang og står stolt frem som noget af det første gæsterne møder på museet. Og selvfølgelig med Sangen om Betzy kørende på bilradioen.
        </p>
   
    </main>
</body>

